# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnement virtuel
.venv/

# uv
.uv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Variables d'environnement
.env
.env.*
